.containerhsf1{
  background-image: url("../img/humanflight/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 100vh;
  font-family: 'Lato', sans-serif;

  .textf9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    
  }
  
}

.containertext{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.containerhsf2{
  background-image: url("../img/humanflight/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 100vh;

  .legendas{
    text-align: end;
  }
}

.containerhsf3{
  background-image: url("../img/humanflight/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 100vh;
}

.containerhsf4{
  background-image: url("../img/humanflight/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 100vh;
  
  .legendas{
    text-align: end;
  }
}

.containerhsf5{
  background-image: url("../img/humanflight/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 100vh;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: white;
  height: 50vh;
}