body{
  background-color: black;
  overflow-x:hidden;
}

.containerconfig{
  height: 100vh;
}

.navbar{  
  margin-left: 280px;
}

.text1{
  padding-top: 200px;
  color: white;
}
.img-obc{
  width:25vh;
}
.font-menu{
  font-size: 12px;
  font-weight: bold;
}

.btn1{
  padding: 10px;
  margin-top: 40px;
  padding-left:30px;
  padding-right:30px;
}

.arrow{
  max-width: 10%;
  height: auto;

}
#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

